# Python
server/venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
.eggs/
*.egg-info/
*.egg

# Django
db.sqlite3
*.log
staticfiles/

# Environment
.env
.venv/
env/
venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Node (if any)
node_modules/
